.AddShoutOutForm {
  /* background-color: white;
  border: 1px solid #aaa;
  border-radius: 6px;
  padding: 0.5em 1em; */
  margin-top: 50px;
}

.AddShoutOutForm label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}

.AddShoutOutForm input,
.AddShoutOutForm textarea {
  font-size: 100%;
}

.AddShoutOutForm textarea {
  width: 7.5%;
  box-sizing: border-box;
  font-family: sans-serif;
}

.submitbutton {
  margin-bottom: 30px;
  margin-top: 30px;

}

@media only screen and (min-width: 20px) {
.AddShoutOutForm textarea {
    width: 180px;
  }
}

