.AddShoutOutForm {
  /* background-color: white;
  border: 1px solid #aaa;
  border-radius: 6px;
  padding: 0.5em 1em; */
  margin-top: 50px;
}

.AddShoutOutForm label {
  display: block;
  font-weight: bold;
  margin-bottom: 3px;
}

.AddShoutOutForm input,
.AddShoutOutForm textarea {
  font-size: 100%;
}

.AddShoutOutForm textarea {
  width: 10%;
  box-sizing: border-box;
  font-family: sans-serif;
}
