/* body {
  background-image: url(http://localhost:3000/starsBG.jpg);
}*/

#crystal-ball {
  margin-bottom: 50px;
}

#fortune-container {
  position: relative;
  text-align: center;
  color: white;
}

#RandomFortunesOnDemand {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  /* text-shadow: 0 0 3px purple; */
  font-size: 18px;
}

#pagetitle {
  margin-top: 50px;
}

.tokensection{
  position: absolute;
  left: 65%;
}

#tokens {
  position: absolute;
  top: 70px;
  /* left: 50%; */
  transform: translate(40%, -50%);
}

#clicks {
  font-size: 30px;
}

#moretokens {
  margin-bottom: 100px;
  left: 50%;
}

#duckbullseye {
  margin-top: 20px;
  margin-bottom: 100px;
}

@media only screen and (max-width: 1500px) {
  #crystal-ball {
    width: 550px;
    height: 550px;
  }

  .tokensection{
    left: 73%;
  }

  #tokenimage {
    width: 160px;
  }
}

@media only screen and (max-width: 920px) {
  #crystal-ball {
    width: 475px;
    height: 475px;
  }

  .tokensection{
    left: 80%;
  }

  #tokenimage {
    width: 150px;
  }
  
  #tokens {
    transform: translate(30%, -60%);
  }
}


@media only screen and (max-width: 760px) {
  #crystal-ball {
    width: 375px;
    height: 375px;
    margin-top: 150px;
  }

  .tokensection{
    left: 40%;
  }
  
  #tokenimage {
    width: 140px;
  }

  #RandomFortunesOnDemand {
    top: 60%;
  }

  #tokens {
    margin-top: 10px; 
    transform: translate(35%, -75%);
    top: 80px;
    font-size: 14px;
  }
}

@media only screen and (max-width: 550px) {
  .tokensection{
    left: 34%;
  }
}

@media only screen and (max-width: 375px) {
  #crystal-ball {
    width: 250px;
    height: 250px;
  }
  
  .tokensection{
    left: 31%;
  }

  #RandomFortunesOnDemand {
    font-size: 13px;
  }
  #tokens {
    transform: translate(35%, -80%);
  }
}

