.background {
  background: no-repeat center bottom;
  margin-top: -110px;
  width: 1280px;
  height: 600px;
}

#fortunesection {
  margin-right: 700px;
  margin-top: -320px;
}

.fortunes {
  width: 300px;
  height: 200px;
  border-radius: 50%;
}

#drinksection {
  margin-left: 700px;
  margin-top: 30px;
}

.drinks {
  width: 300px;
  height: 200px;
  border-radius: 50%;
}

h1 {
  font-size: 32px;
  margin-top: 30px;
  font-family: cursive;
  color: #ff3b2a;
}

h2 {
  font-family: cursive;
  color: #ff3b2a;
}

p {
  font-style: italic;
}
/* @media only screen and (max-width: 375px) {
  
} */
