.NavBar {
    padding: 10px 40px 40px 40px;
    background-color: #130000;
    color: white;  
}

#NavIcon {
    padding-right: 1700px;
}

#websitetitle {
    margin-top: -40px;
}

.NavBarLinks {
    display: flex;
    justify-content: right;
    margin-top: -40px;
}

a:link {
    font-weight: bold;
    margin: 20px 20px;
    text-decoration: none;
    color: fdad4b;
}

a:visited {
    color: red;
}

a:hover {
    color: white;
} 

h1 {
    color: white;
    word-spacing: 7px; 
}
